#movie-view {
	#movie-view-overview, #movie-view-watched, #movie-view-cast-wrapper, #movie-view-crew-wrapper {
		margin-bottom: 20px;
	}

	h2 {
		margin-top: 0;
	}
}

#movie-view-similar {
	li {
		display: inline-block;
		margin-bottom: 10px;
		width: 102px;
		height: 138px;
	}
}