/**
 * Movie/View
 */
#movie-view {
	#movie-view-overview, #movie-view-watched, #movie-view-cast-wrapper, #movie-view-crew-wrapper {
		margin-bottom: 20px;
	}

	h2 {
		margin-top: 0;
	}
}

#movie-view-similar {
	li {
		display: inline-block;
		margin-bottom: 10px;
		width: 102px;
		height: 138px;

		&.movie-view-similar-watched {
			img {
				.grayscale();
				.transition(all .3s ease);

				&:hover {
					.grayscale-disable();
				}
			}
		}

		a {
			display: block;
		}
	}
}

/**
 * Movie/Index
 */
#movie-index {
	.movie-index {
		margin-bottom: 20px;

		a {
			display: block;
			height: 100%;
			width: 100%;
		}

		img {
			@media (min-width: @screen-sm-min) {
				height: 330px!important;
			}

			@media (min-width: @screen-md-min) {
				height: 319px!important;
			}

			@media (min-width: @screen-lg-min) {
				height: 248px!important;
			}
		}
	}
}