/**
 * Tv/Dashboard
 */
#tv-dashboard-showlist {
	li {
		width: 30%;
		margin-right: 2%;
		padding: 0;

		&:nth-child(3n) {
			margin-right: 0;
		}

		@media (min-width: @screen-sm-min) {
			width: 170px;
			margin-right: 10px;
			margin-bottom: 10px;

			&:nth-child(3n) {
				margin-right: 10px;
			}

			&:nth-child(4n) {
				margin-right: 0;
			}
		}

		@media (min-width: @screen-md-min) {
			width: 175px;
			margin-right: 12px;
			margin-bottom: 12px;

			&:nth-child(3n) {
				margin-right: 12px;
			}

			&:nth-child(4n) {
				margin-right: 12px;
			}

			&:nth-child(5n) {
				margin-right: 0;
			}
		}

		@media (min-width: @screen-lg-min) {
			margin-right: 16px;
			margin-bottom: 16px;

			&:nth-child(3n) {
				margin-right: 16px;
			}

			&:nth-child(4n) {
				margin-right: 16px;
			}

			&:nth-child(5n) {
				margin-right: 16px;
			}

			&:nth-child(6n) {
				margin-right: 0;
			}
		}

		img {
			width: 100%;
			height: auto;

			.grayscale(60%);
			.transition(all .3s ease);

			&:hover {
				.grayscale-disable();
			}
		}

		.tv-dashboard-showlist-actions {
			margin-top: 2px;
		}
	}
}

/**
 * Tv/Index
 */
#tv-index {
	.tv-index {
		margin-bottom: 20px;
	}
}

/**
 * Tv/View
 */
#tv-view {
	#tv-view-content {
		margin-top: 20px;

		#tv-view-information {
			> div {
				margin-top: 20px;

				&:first-of-type {
					margin-top: 0;
				}
			}

			h2 {
				margin-top: 0;
			}
		}

		#tv-view-seasons {
			h3 {
				&:first-of-type {
					margin-top: 0;
					line-height: 1;
				}
			}
		}

		.tv-view-episodes {
			li {
				display: inline-block;
				width: 24%;
				height: 30px;
				padding: 1%;
				cursor: pointer;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				line-height: 1;

				&.has-seen {
					color: @gray-light;
				}

				&.highlight {
					color: @brand-primary
				}

				&:hover {
					background-color: @gray-lighter;
				}

				label {
					cursor: pointer;
				}
			}
		}
	}
}